$primary-color: #70aee0;
$secondary-color: #Fafafa;
$bgh :  #75a4cb;

button{
    background-color: $primary-color;
    color: $secondary-color;
    margin: 5px;
}


@mixin btn{
border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: $bgh;
  transition: border-color 0.25s;
}

button:hover{
    @include btn;
}
