$primary-color: #70aee0;
$secondary-color: #Fafafa;

button{
    background-color: $primary-color;
    color: $secondary-color;

}


@mixin btn{
border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}


button:hover{
    @include btn;
}
